# See http://help.github.com/ignore-files/ for more about ignoring files.

### STS ###

/backend/**/.idea
/backend/**/HELP.md
/backend/**/.gitignore
/backend/**/target/
/backend/**/src/test/
.idea

### STS FIM ###